<div class="row" id="ui-container">

  <!--Action card-->
  <div class="col s3">
    <app-operations></app-operations>
  </div>

  <!--WebGL-->
  <div class="col s6">
    <canvas id="canvas"></canvas>
  </div>

  <!--Objects outline-->
  <div class="col s3">
    <app-objects-outline (editionToggled)="toggleEdition($event)" class="z-depth-1"></app-objects-outline>
  </div>
</div>

<app-object-manipulator></app-object-manipulator>


<!-- "New object" button-->
<div class="fixed-action-btn left" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large grey darken-4">
    <i (click)="objectManipulator.openObjectForm('New')" class="large material-icons teal">add</i>
  </a>
</div>
