<!--Modal-->
<div id="objectForm" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>{{mode}}</h4>

    <form class="row">
      <div class="col s3 objectList">
        <p *ngFor="let type of aviableObjectTypes; let i = index;">
          <input (ngModelChange)="updateParams()" [(ngModel)]="selectedType" value="{{type}}" name="selectedType" type="radio" id="object_type_{{i}}"
          />
          <label [attr.for]="'object_type_' + i">{{type}}</label>
        </p>
      </div>

      <div class="col s9">
        <div *ngFor="let parameter of getParamsKeys();" [ngSwitch]="paramsDesc[parameter]">

          {{parameter}}

          <div *ngSwitchCase="'point'" class="row">
            <div class="input-field col s3">
              <input [(ngModel)]="params[parameter].x" id="x_{{parameter}}" name="x_{{parameter}}" type="number" class="validate">
              <label [attr.for]="'x_' + parameter">x</label>
            </div>
            <div class="input-field col s3">
              <input [(ngModel)]="params[parameter].y" id="y_{{parameter}}" name="y_{{parameter}}" type="number" class="validate">
              <label [attr.for]="'y_' + parameter">y</label>
            </div>
            <div class="input-field col s3">
              <input [(ngModel)]="params[parameter].z" id="z_{{parameter}}" name="z_{{parameter}}" type="number" class="validate">
              <label [attr.for]="'z_' + parameter">z</label>
            </div>
          </div>

          <div *ngSwitchCase="'number'" class="input-field row s3">
            <input [(ngModel)]="params[parameter]" id="{{parameter}}" name="{{parameter}}" type="number" class="validate">
            <label [attr.for]="parameter">{{parameter}}</label>
          </div>
        </div>
      </div>

    </form>

    <div class="modal-footer">
      <a (click)="doneManipulations()" class=" modal-action modal-close waves-effect waves-green btn-flat">Создать</a>
    </div>

  </div>